<div class="aboutus block container">
    <h2 class="aboutus__heading">About Us</h2>
    <hr class="hr">
    <p class="aboutus__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vitae illum molestias quod. Consequatur, 
        molestias illum? Voluptates, alias eum, beatae quam ratione distinctio nam, ut impedit exercitationem quae architecto iure.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores numquam ratione, magnam ipsum magni reiciendis explicabo esse eius mollitia, hic sed ipsa! Repellendus adipisci dicta atque unde officiis, similique doloremque?</p>
</div>
