<div style="width: 30%; padding: 5rem;">
    <div class="card ">
     <header class="card__header">
         <img src="./images/img2.png" alt="">
     </header>
     <div class="card__body">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Error harum, tenetur quod minima tempora nam, 
         similique ratione provident non dolore facilis labore iusto cum asperiores unde. Asperiores libero reiciendis tempore!
         <h3 class="link-arrow card__arrow">Hi</h3>
     </div>
    </div>
</div>