<div class="footer__part">
    <div class="footer__container container grid grid--1x2">
        <div class="address grid grid--1x2">
            <h2 class="footer__heading">Company Logo</h2>
            <address class="address">Keas 69 Str. 15234, East Nile <br>
                Athens, Greece <br>
                +123456778 <br>
                +123456778 <br>
            </address>
        </div>
        <div class="social icon container grid grid--1x2">
            <div class="">
                <h2 class="social__heading">Stay Connected With</h2>
            </div>
            <div class="icon">
                <img class="icons" src="./images/./facebook.svg" alt="">
                <img class="icons" src="./images/twitter.svg" alt="">
                <img class="icons" src="./images/insta.svg" alt="">
                <img class="icons" src="./images/linkedin.svg" alt="">
                <img class="icons" src="./images/youtube.svg" alt="">
            </div>
        </div>
    </div>
</div>


