<section class="block hero">
    <div class="container grid grid--1x2">
        <header class="block__header hero__content">
            <h1 class="block__heading">Welcome to our company...</h1>
            <p class="hero__tagline"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor commodi id voluptate sequi amet neque sapiente ad deserunt nam doloremque dolore, inventore consectetur vero voluptas enim porro. Hic, consequuntur laboriosam? </p>
        </header>
        <picture>
            <img class="hero__image" src="./images/Hero Banner.png" alt="" />
        </picture>
    </div>
</section>
