<div class="latestnews block container">
    <h2 class="latestnews__heading">Latest News</h2>
    <hr class="hr">

<!-- Slider main container -->

<div class="swiper__container">
<div class="swiper">
<!-- Additional required wrapper -->
<div class="swiper-wrapper">
  <!-- Slides -->
  <div class="swiper-slide">
    <div style="width: 100%; padding: 5rem 10rem;">
        <div class="card ">
         <header class="card__header">
             <img src="./images/img2.png" alt="">
         </header>
         <div class="card__body">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Error harum, tenetur quod minima tempora nam, 
             similique ratione provident non dolore facilis labore iusto cum asperiores unde. Asperiores libero reiciendis tempore!
             <h3 class="link-arrow card__arrow">Read</h3>
         </div>
        </div>
    </div>
  </div>
  <div class="swiper-slide">
    <div style="width: 100%; padding: 5rem 10rem;">
        <div class="card ">
         <header class="card__header">
             <img src="./images/img3.png" alt="">
         </header>
         <div class="card__body">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Error harum, tenetur quod minima tempora nam, 
             similique ratione provident non dolore facilis labore iusto cum asperiores unde. Asperiores libero reiciendis tempore!
             <h3 class="link-arrow card__arrow">Read</h3>
         </div>
        </div>
    </div>
  </div>
  <div class="swiper-slide">
    <div style="width: 100%; padding: 5rem 10rem">
        <div class="card ">
         <header class="card__header">
             <img src="./images/img1.png" alt="">
         </header>
         <div class="card__body">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Error harum, tenetur quod minima tempora nam, 
             similique ratione provident non dolore facilis labore iusto cum asperiores unde. Asperiores libero reiciendis tempore!
             <h3 class="link-arrow card__arrow">Read</h3>
         </div>
        </div>
    </div>
  </div>
  ...
</div>  
<!-- If we need pagination -->
<!-- <div class="swiper-pagination"></div> -->

<!-- If we need navigation buttons -->
<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>

<!-- If we need scrollbar -->
<div class="swiper-scrollbar"></div>
</div>
</div>

</div>









