
<div class="swiper">

    <div class="container">
        <h2 class="latestnews__heading">Latest News</h2>
            <hr class="hr">
        <blockquote class="quote">
            <img class="quote__image" src="./images/quote-right-Icon.svg" alt="">
            <p class="quote__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt opti
                officiis dolore earum error eaque perferendis laudantium 
            </p>
            <img class="quote__image" src="./images/quote-right-Icon.svg" alt="">
    
            <footer>
                <div class="media">
                    <div class="media__body">
                        <h3 class="media__title quote__author"> - Lorem ipsum dolor</h3>
                        <p class="quote__organization">Labore et dolore</p>
                    </div>
                </div>
            </footer>
        </blockquote>
    </div>      
  
  </div>